DEFAULT_TIMEZONE=+03:00
ABLY_API_KEY=
ABLY_CHANNEL_NAME=defaultChannel
ABLY_EVENT_NAME=setStorage
POSTGRESQL_HOST=127.0.0.1
POSTGRESQL_USER=postgres
POSTGRESQL_PWD=postgres
POSTGRESQL_PORT=5432
MYSQL_HOST=127.0.0.1
MYSQL_USER=root
MYSQL_PWD=root
MYSQL_PORT=3306